<div id="picker">
  <%= hidden_field_tag :media_value, @work.media_id %>
  <% @media_asset.each do |media| %>
    <%= link_to "#", :id => media.name, :class => 'media_item' do %>
      <%= image_tag(media.image.thumb, :alt => media.name, :id => media.id, :class => 'thumb', :size => '100x100') %>
    <% end %>
  <% end %>
</div>
