<tr class="item">
  <td>
    <%= text_field_tag 'name', nil, :placeholder => 'Insert your item name', :class=> 'changeable' %>
  </td>
  <td>
    <%= select_tag "count", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>".html_safe, :class=> 'changeable' %>
  </td>
  <td>
    <%= text_field_tag 'unit_price', nil, :placeholder => 'Unit price', :size => 6, :class => 'unit_price changeable' %>
  </td>
  <td class="total">
    <span>0</span> €
  </td>
  <td>
    <a href="#" class="add_item">add</a>
    <a href="#" class="remove_item">remove</a>
  </td>
</tr>
