    <div class="row">
      <div class="five columns push-seven">
        <%= link_to 'Login with Facebook', '/auth/facebook/' %>
        <%= link_to 'Login with Twitter', '/auth/twitter/' %>
        <%= link_to 'Login with Tumblr', '/auth/tumblr/' %>
      </div>
      <div class="twelve columns">
        <div id='top_navigation'><%= render_navigation(:level => 1, :class => 'nav-bar') %></div>
      </div>
    </div>
