/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_tree .
 */

#top_navigation ul li {
  display: inline-block;
  margin-right:30px;
}

/* File picker for administration */

#picker a {
  display: inline-block;
  border:3px solid white;
}

#picker a.selected {
  border:3px solid green;
}

#picker a:hover {
  background: none;
}

#preloadedTags {
  display: none;
}

.hidden {
  display: none;
}
